.start {
	width: 100vw;
	height: 95vh;
	display: flex;
	flex-direction: column;
}

.body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
}

.left {
	width: 33%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo_text {
	display: flex;
	flex-direction: row;
	height: 60px;
	width: 450px;
	font-size: 56px;
	font-family: "Roboto", sans-serif;
}

.left_logo {
	color: #000000;
}

.right_logo {
	color: #d2a124;
}

.text_bot {
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 42px;
	color: #d2a124;
}
.center {
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chef_img {
	width: 100%;
}

.right {
	width: 26%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.start_btn {
	border-radius: 50%;
	width: 200px;
	height: 100px;
	border: none;
	background-color: rgb(210, 161, 36, 0.6);
	font-size: 30px;
}

.bot_banner {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 10%;
	justify-content: right;
	margin-left: -10%;
	font-size: 20px;
	align-items: center;
}

.login_btn {
	border: none;
	background-color: white;
	height: 25px;
	font-size: 20px;
}

.aboutus_btn {
	border: none;
	background-color: white;
	height: 25px;
	font-size: 20px;
}
