.login_everything {
	display: flex;
	flex-direction: column;
}

.login_topbanner {
	display: flex;
	flex-direction: row;
	height: 10vh;
	width: 100vw;
}

.login_midbanner {
	display: flex;
	flex-direction: row;
	height: 90vh;
	width: 100vw;
	position: relative;
}

.login_exsiting {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.login_exsisting_top {
	font-size: 42px;
	height: 20vh;
}

.login_exsisting_mid {
	height: 70vh;
}

.login_exsisting_user {
	margin: 15px;
	display: flex;
	flex-direction: column;
}

.login_exsisting_password {
	margin: 15px;
	display: flex;
	flex-direction: column;
}
.login_exsisting_password_field {
	width: 350px;
}

.login_exsisting_bot {
	height: 10vh;
}

.login_exsisting_btn {
	width: 400px;
	height: 70px;
	font-size: 36px;
}

.login_new {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.login_new_top {
	font-size: 42px;
	height: 20vh;
}

.login_new_mid {
	height: 70vh;
}

.login_new_email {
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.login_new_password {
	margin: 10px;
	display: flex;
	flex-direction: column;
}
.login_new_repeat_password {
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.login_new_repeat_password_field {
	width: 350px;
}

.login_new_bot {
	height: 10vh;
}

.login_new_btn {
	width: 400px;
	height: 70px;
	font-size: 36px;
}

.login_everything::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 1px;
	background-color: black; /* Adjust the color as needed */
}
