.login_everything {
  display: flex;
  flex-direction: column;
  background-color: green;
}

.login_topbanner {
  background-color: red;
  display: flex;
  flex-direction: row;
  height: 15vh;
  width: 100vw;
}

.login_midbanner {
  background-color: blue;
  display: flex;
  flex-direction: row;
  height: 85vh;
  width: 100vw;
}

.login_exsiting {
  align-items: center;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.login_exsisting_top {
  font-size: 30px;
  margin: 30px;
}

.login_exsisting_mid {
}

.login_exsisting_user {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.login_exsisting_password {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.login_exsisting_bot {
  margin-top: 50px;
}
