.global_top_banner {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.glob_banner_item_right {
}

.glob_banner_item_left {
}
