.global_top_banner {
<<<<<<< HEAD
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.glob_banner_item_right {
}

.glob_banner_item_left {
=======
	height: 10vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding-right: 5px;
	position: absolute;
}

.item_right {
}

.item_left {
>>>>>>> 3e5c58637395254a87481e1d27dfb1e04759a9c7
}
